Example1

In [3]:
print("Hello world!")

Hello world!

Example 2

In [5]:
a=5
b=7
print(a+b)

12

TSIS1 exercises:

In [9]:
print("Hello, World!")

Hello, World!

In [11]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [13]:
if 5 > 2:
  print("Five is greater than two")

Five is greater than two!

In [15]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [17]:
if 5>2:
    print("Five is greater than two")
if 5>2:
       print("Five is greater than two")

Five is greater than two
Five is greater than two

In [19]:
if 5>2:
    print('Five is greater than two')
      print('Five is greater than two')

IndentationError: unexpected indent (67003693.py, line 3)

In [21]:
#this is a comment!!
print('Hello, World')

Hello, World

In [25]:
print("Hello, World") #this is a comment

Hello, World

In [27]:
#print(Hello, World")
print("Cheers, Mate")

Cheers, Mate

In [29]:
#this is a comment
#written in
#more than just one line
print('Hello, World!')

Hello, World!

In [31]:
'''
this is a comment
written in
more than just one line
'''
print('Hello, World')

Hello, World

In [33]:
x=5
y='John'
print(x)
print(y)

5
John

In [39]:
x=4       #x is of type int
x="Sally" #x is now of type str
print(x)

Sally

In [43]:
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [45]:
x=5
y='John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [49]:
a="John"
print(a)
#is the same as
a='John'
print(a)

John
John

In [53]:
a=4
A='Sally'
print(a)
print(A)

4
Sally

In [55]:
myvar='Peter'
my_var='Peter'
_my_var_='Peter'
myVar='Peter'
MYVAR='Peter'
myvar2='Peter'
print(myvar)
print(my_var)
print(_my_var_)
print(myVar)
print(MYVAR)
print(myvar2)

Peter
Peter
Peter
Peter
Peter
Peter

In [57]:
2myvar='Peter'
my-var='Peter'
my var='Peter'
print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid decimal literal (730309236.py, line 1)

In [59]:
x = y = z = "Blue"
print(x)
print(y)
print(z)

Blue
Blue
Blue

In [61]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

In [63]:
x='python is awesome'
print(x)

python is awesome

In [67]:
x='python'
y='is'
z='awesome'
print(x, y, z)

python is awesome

In [73]:
x='python '
y='is '
z='awesome'
print(x+y+z)

python is awesome

In [75]:
x=10
y=5
print(x+y)

15

In [77]:
x='John'
y=5
print(x+y)

TypeError: can only concatenate str (not "int") to str

In [79]:
x=5
y='John'
print(x,y)

5 John

In [83]:
x='awesome'

def myfunc():
    print('Python is '+x)
myfunc()

Python is awesome

In [85]:
x='awesome'
def myfunc():
    x='fantastic'
    print('Python is '+x)
myfunc()

print('Python is '+x)

Python is fantastic
Python is awesome

In [89]:
def myfunc():
  global x
  x = "fantastic"

myfunc()
print("Python is " + x)

Python is fantastic

In [91]:
x='awesome'

def myfunc():
    global x
    x='fantastic'
myfunc()

print('Python is '+x)

Python is fantastic

In [93]:
x=5
print(type(x))

<class 'int'>

In [95]:
x='hello, world!'
print(x)
print(type(x))

hello, world!
<class 'str'>

In [99]:
x=20
print(x)
print(type(x))

20
<class 'int'>

In [101]:
x=20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [103]:
x=1j
print(x)
print(type(x))

1j
<class 'complex'>

In [105]:
x=['apple','banana','cherry']
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [107]:
x=('apple','banana','cherry')
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [109]:
x=range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [113]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [115]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [117]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [119]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [121]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [123]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [125]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x00000129939C28C0>
<class 'memoryview'>

In [127]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [137]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

In [139]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

In [141]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

In [143]:
x = complex(1j)
print(x)
print(type(x))

1j
<class 'complex'>

In [145]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x)) #to output the type of x

['apple', 'banana', 'cherry']
<class 'list'>

In [147]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [149]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [151]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [153]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [155]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [157]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [159]:
x = 1   
y = 2.8  
z = 1j   


a = float(x)

b = int(y)

c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [161]:
import random

print(random.randrange(1, 10))

6

In [169]:
x = int(1)   
y = int(2.8) # 2
z = int("3") # 3
print(x)
print(y)
print(z)

1
2
3

In [171]:
x = float(1)     # 1.0
y = float(2.8)   #2.8
z = float("3")   #3.0
w = float("4.2") #4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [173]:
x = str("s1") 
y = str(2)    
z = str(3.0)  
print(x)
print(y)
print(z)

s1
2
3.0

In [175]:
print("Hello")
print('Hello')

Hello
Hello

In [177]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [179]:
a = "Hello"
print(a)

Hello

In [181]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [183]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [185]:
a = "Hello, World!"
print(a[1])

e

In [189]:
a = "Hello, World!"
print(len(a))

13

In [191]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [193]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [195]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [197]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [199]:
b = "Hello, World!"
print(b[2:5])

llo

In [201]:
b = "Hello, World!"
print(b[:5])

Hello

In [203]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [205]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [207]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [209]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [213]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [215]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [217]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [219]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [221]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [225]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [227]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [229]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [231]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [233]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [235]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [237]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [239]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [241]:
txt = "It's alright\\."
print(txt)

It's alright\.

In [253]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [263]:
txt = "Hello\rWorld!"
print(txt)

World!

In [265]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [267]:

txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [269]:
txt = "Hello \fWorld!"
print(txt)

Hello
World!

In [279]:

txt = "\167\157\162\154\144"
print(txt)

world

In [281]:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello